<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="indices" value="${[0, 1, 2, 3, 4, 5]}"/>

  <gazebo reference="base_link">
    <selfCollide>false</selfCollide>
    <maxVel>100.0</maxVel>
    <minDepth>0.001</minDepth>
    <mu1 value="200.0"/>
    <mu2 value="100.0"/>
    <kp value="10000000.0"/>
    <kd value="1.0"/>
<!--     <material>Gazebo/Black</material> -->
  </gazebo>

  <!--   Correct rotor colours that are not parsed properly -->
  <xacro:macro name="rotor_material_loop" params="indices:=^">
    <xacro:if value="${indices}">
      <xacro:property name="index" value="${indices.pop(0)}"/>
      <gazebo reference="rotor_${index}">
        <material>
          <xacro:if value="${index == 1 or index == 3 or index == 4}">Gazebo/Blue</xacro:if>
          <xacro:if value="${index == 0 or index == 2 or index == 5}">Gazebo/Red</xacro:if></material>
      </gazebo>
      <xacro:rotor_material_loop/>
    </xacro:if>
  </xacro:macro>
  <xacro:rotor_material_loop indices="${list(indices)}"/>

  <gazebo reference="nozzle_link">
      <visual name="extruder">
        <pose frame=''>0 0 -0.05 0 0 0</pose>
          <geometry>
            <sphere>
              <radius>0.01</radius>
            </sphere>
          </geometry>
          <plugin name="foamer" filename="libwasp_gazebo.so">
            <particleSize>0.02</particleSize>
            <divergence>7.18</divergence>
          </plugin>
        </visual>
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo>
    <link name='$(arg model)/imu_link'>
      <pose>0 0 0 0 0 0</pose>
      <inertial>
        <pose>0 0 0 0 0 0</pose>
        <mass>0.015</mass>
        <inertia>
          <ixx>1e-05</ixx>
          <ixy>0</ixy>
          <ixz>0</ixz>
          <iyy>1e-05</iyy>
          <iyz>0</iyz>
          <izz>1e-05</izz>
        </inertia>
      </inertial>
    </link>
    <joint name='$(arg model)/imu_joint' type='revolute'>
      <child>$(arg model)/imu_link</child>
      <parent>base_link</parent>
      <axis>
        <xyz>1 0 0</xyz>
        <limit>
          <lower>0</lower>
          <upper>0</upper>
          <effort>0</effort>
          <velocity>0</velocity>
        </limit>
        <dynamics>
          <spring_reference>0</spring_reference>
          <spring_stiffness>0</spring_stiffness>
        </dynamics>
        <use_parent_model_frame>1</use_parent_model_frame>
      </axis>
    </joint>

    <!-- Comment this section to disable GPS -->
    <include>
      <uri>model://gps</uri>
      <pose>0 0 0 0 0 0</pose>
      <name>gps</name>
    </include>
    <joint name='gps_joint' type='fixed'>
      <child>gps::link</child>
      <parent>base_link</parent>
    </joint>

    <plugin name='rosbag' filename='libgazebo_multirotor_base_plugin.so'>
      <robotNamespace></robotNamespace>
      <linkName>base_link</linkName>
      <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
    </plugin>

    <xacro:macro name="rotor_plugin_loop" params="indices:=^">
      <xacro:if value="${indices}">
        <xacro:property name="index" value="${indices.pop(0)}"/>

        <plugin name='rotor_plugin_${index}' filename='libgazebo_motor_model.so'>
          <robotNamespace></robotNamespace>
          <jointName>rotor_${index}_joint</jointName>
          <linkName>rotor_${index}</linkName>
          <turningDirection>
            <xacro:if value="${index == 0 or index == 2 or index == 5}">ccw</xacro:if>
            <xacro:if value="${index == 1 or index == 3 or index == 4}">cw</xacro:if>
          </turningDirection>
          <timeConstantUp>0.0125</timeConstantUp>
          <timeConstantDown>0.025</timeConstantDown>
          <maxRotVelocity>1500</maxRotVelocity>
          <motorConstant>8.54858e-06</motorConstant>
          <momentConstant>0.06</momentConstant>
          <commandSubTopic>/gazebo/command/motor_speed</commandSubTopic>
          <motorNumber>${5 - index}</motorNumber>
          <rotorDragCoefficient>0.000806428</rotorDragCoefficient>
          <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
          <motorSpeedPubTopic>/motor_speed/${5 - index}</motorSpeedPubTopic>
          <rotorVelocitySlowdownSim>10</rotorVelocitySlowdownSim>
        </plugin>

        <xacro:rotor_plugin_loop/>
      </xacro:if>
    </xacro:macro>
    <xacro:rotor_plugin_loop indices="${list(indices)}"/>

    <plugin name='groundtruth_plugin' filename='libgazebo_groundtruth_plugin.so'>
      <robotNamespace/>
    </plugin>
    <plugin name='magnetometer_plugin' filename='libgazebo_magnetometer_plugin.so'>
      <robotNamespace/>
      <pubRate>100</pubRate>
      <noiseDensity>0.0004</noiseDensity>
      <randomWalk>6.4e-06</randomWalk>
      <biasCorrelationTime>600</biasCorrelationTime>
      <magTopic>/mag</magTopic>
    </plugin>
    <plugin name='barometer_plugin' filename='libgazebo_barometer_plugin.so'>
      <robotNamespace/>
      <pubRate>50</pubRate>
      <baroTopic>/baro</baroTopic>
    </plugin>
    <plugin name='mavlink_interface' filename='libgazebo_mavlink_interface.so'>
      <robotNamespace></robotNamespace>
      <imuSubTopic>/imu</imuSubTopic>
      <magSubTopic>/mag</magSubTopic>
      <baroSubTopic>/baro</baroSubTopic>
      <mavlink_addr>INADDR_ANY</mavlink_addr>
      <mavlink_tcp_port>4560</mavlink_tcp_port>
      <mavlink_udp_port>14560</mavlink_udp_port>
      <serialEnabled>0</serialEnabled>
      <serialDevice>/dev/ttyACM0</serialDevice>
      <baudRate>921600</baudRate>
      <qgc_addr>INADDR_ANY</qgc_addr>
      <qgc_udp_port>14550</qgc_udp_port>
      <sdk_addr>INADDR_ANY</sdk_addr>
      <sdk_udp_port>14540</sdk_udp_port>
      <hil_mode>0</hil_mode>
      <hil_state_level>false</hil_state_level>
      <enable_lockstep>true</enable_lockstep>
      <use_tcp>true</use_tcp>
      <motorSpeedCommandPubTopic>/gazebo/command/motor_speed</motorSpeedCommandPubTopic>
      <control_channels>
        <xacro:macro name="rotor_channel_loop" params="indices:=^">
          <xacro:if value="${indices}">
            <xacro:property name="index" value="${indices.pop(0)}"/>
            <channel name="rotor${index}">
              <input_index>${index}</input_index>
              <input_offset>0</input_offset>
              <input_scaling>1500</input_scaling>
              <zero_position_disarmed>0</zero_position_disarmed>
              <zero_position_armed>100</zero_position_armed>
              <joint_control_type>velocity</joint_control_type>
            </channel>

            <xacro:rotor_channel_loop/>
          </xacro:if>
        </xacro:macro>
        <xacro:rotor_channel_loop indices="${list(indices)}"/>
      </control_channels>
    </plugin>

    <plugin name='gazebo_imu_plugin' filename='libgazebo_imu_plugin.so'>
      <robotNamespace></robotNamespace>
      <linkName>$(arg model)/imu_link</linkName>
      <imuTopic>/imu</imuTopic>
      <gyroscopeNoiseDensity>0.0003394</gyroscopeNoiseDensity>
      <gyroscopeRandomWalk>3.8785e-05</gyroscopeRandomWalk>
      <gyroscopeBiasCorrelationTime>1000.0</gyroscopeBiasCorrelationTime>
      <gyroscopeTurnOnBiasSigma>0.0087</gyroscopeTurnOnBiasSigma>
      <accelerometerNoiseDensity>0.004</accelerometerNoiseDensity>
      <accelerometerRandomWalk>0.006</accelerometerRandomWalk>
      <accelerometerBiasCorrelationTime>300.0</accelerometerBiasCorrelationTime>
      <accelerometerTurnOnBiasSigma>0.196</accelerometerTurnOnBiasSigma>
    </plugin>

<!--    <plugin name='camera' filename='librealsense_gazebo_plugin.so'>
      <prefix>camera</prefix>
      <depthUpdateRate>30.0</depthUpdateRate>
      <colorUpdateRate>30.0</colorUpdateRate>
      <infraredUpdateRate>30.0</infraredUpdateRate>
      <depthTopicName>depth/image_raw</depthTopicName>
      <depthCameraInfoTopicName>depth/camera_info</depthCameraInfoTopicName>
      <colorTopicName>color/image_raw</colorTopicName>
      <colorCameraInfoTopicName>color/camera_info</colorCameraInfoTopicName>
      <infrared1TopicName>infra1/image_raw</infrared1TopicName>
      <infrared1CameraInfoTopicName>infra1/camera_info</infrared1CameraInfoTopicName>
      <infrared2TopicName>infra2/image_raw</infrared2TopicName>
      <infrared2CameraInfoTopicName>infra2/camera_info</infrared2CameraInfoTopicName>
      <colorOpticalframeName>camera_color_optical_frame</colorOpticalframeName>
      <depthOpticalframeName>camera_depth_optical_frame</depthOpticalframeName>
      <infrared1OpticalframeName>camera_left_ir_optical_frame</infrared1OpticalframeName>
      <infrared2OpticalframeName>camera_right_ir_optical_frame</infrared2OpticalframeName>
      <rangeMinDepth>0.2</rangeMinDepth>
      <rangeMaxDepth>10.0</rangeMaxDepth>
      <pointCloud>1</pointCloud>
      <pointCloudTopicName>depth/color/points</pointCloudTopicName>
      <pointCloudCutoff>0.25</pointCloudCutoff>
      <pointCloudCutoffMax>9.0</pointCloudCutoffMax>
    </plugin>-->
  </gazebo>
</robot>
